p, ul, li{
  color:white;
}

li{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.main-container{
  height:100%;
}

.bg-1 {
  background-color: #040F15;
}

.bg-2 {
  background-color: #1C2A2B;
}

.container-height {
  height: 65vh;
  overflow-y: scroll;
}

.box-outline{
  border: 2px solid #C0E2BF;
}

.sim-box{
  /* overflow-x: scroll !important; */
  overflow-y: scroll !important;
  height: 65vh;
}

.sim-button{  
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  /* color:#AAAAAA; */
  font-weight: bold;
}

.sim-button-1{
  background-color: #A9C8AA;
  margin-right: 1rem;
}

.sim-button-1:hover{
  background-color: #91AE95;
}

.sim-button-2{
  background-color: #C0E2BF;
  margin: 0 1rem;
  
}

.sim-button-2:hover{
  background-color: #91AE95;
}

.sim-button-3{
  background-color: #C0E2BF;;
  margin-left: 1rem;
  color:white
}

.req-div{
  margin-left: 0.5rem !important;
}

.res-info{
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
}

.process-done{
  font-family: 'Poppins', sans-serif;
}

.time-elapsed{
  font-family: 'Hind', sans-serif;
}

.sim-button-2:disabled{
  background-color: #334440;
  color:rgb(158, 157, 157);
}

.av-res{
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}